body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-rater-star.is-active, .react-rater-star.will-be-active, .react-rater-star.is-active-half:before {
  color : #f39d00 !important;
}

.react-rater {
  font-size: 28px;
}
/* .footer {
  position: absolute;
  bottom: 0;
  padding: 1rem !important;
  width: 100%;
} */